.transition_effect{
	width:100%;
	height:100%;
	text-align:left;
	font-size:16px;
	display:flex;
	flex-direction:column;
	header{
		width:100%;
		height:48px;
		line-height:48px;
		text-align:center;
		font-size:18px;
		background:red;
		span{
			position:absolute;
			left:0;
			top:0;
			font-size:16px;
		}
	}
	main{
		width:100%;
		flex:1;
		overflow:auto;
		::-webkit-scrollbar{
			width:0px;
		}
		.container{
			width:100%;
			height:100%;
			overflow:auto;
		}
	}
}
.fade-enter-active, .fade-leave-active{  //开始结束动画阶段
	transition:opacity .5s;
}
.fade-enter, .fade-leave-to{  //fade-enter 进入初始化    fade-leave  隐藏初始化
	opacity:0;
}